<mat-card class="ad-form-card">
    <mat-card-header>
      <mat-card-title>Criar Anuncio</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="adForm" (ngSubmit)="onAddNewAd()">      
        <mat-form-field class="full-width">
          <input matInput formControlName="title" placeholder="Title">
        </mat-form-field>
  
        <mat-form-field class="full-width">
          <input matInput formControlName="description" placeholder="Description">
        </mat-form-field>
  
        <mat-form-field class="full-width">
          <input matInput formControlName="price" placeholder="Price">
        </mat-form-field>
  
        <mat-form-field class="full-width">
          <input matInput formControlName="imageUrl" placeholder="Image URL">
        </mat-form-field>
  
        <button mat-raised-button color="primary" type="submit">Submit</button>
      </form>
    </mat-card-content>
  </mat-card>
  